@tailwind base;
@tailwind components;
@tailwind utilities;

.card.reset {
  transform: perspective(600px) rotateX(0deg) rotateY(0deg) translateZ(0px);
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  @apply bg-indigo-600 text-slate-900 dark:bg-indigo-400;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply relative;
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-slate-50 dark:bg-[#12161d];
  @apply text-slate-900/75 dark:text-white/75;
  @apply -tracking-[0.75px];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-5;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-slate-50/75 dark:bg-[#12161d]/15;
  @apply backdrop-blur-sm;
}

main {
  @apply flex-1 py-32;
  @apply relative;
}

footer {
  @apply py-5 text-sm;
}

button {
  @apply -tracking-[0.75px];
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-sans prose-p:leading-6 prose-headings:leading-5;
  @apply text-inherit;
}

article img {
  @apply rounded-xl;
}

picture img {
  @apply object-cover w-full h-full;
}

@layer utilities {
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    @apply text-slate-900 dark:text-slate-50;
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    @apply text-lg leading-5;
  }
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-slate-900 dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}
