---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Text from "@components/Text.astro";
---

<PageLayout title="Style Guide" description="The site style guide.">
  <Container>
    <div class="animate flex flex-col gap-4">
      <Text tag="h1" variant="heading">Heading</Text>
      <Text tag="h2" variant="subheading">Subeading</Text>
      <Text tag="h3" variant="fancy">Fancy Heading</Text>

      <Text tag="p" variant="textBase"
        >Paragraph Base - Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.</Text
      >
      <Text tag="p" variant="textSM"
        >Paragraph Small - Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.</Text
      >
      <Text tag="p" variant="textXS"
        >Paragraph XS - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.</Text
      >
    </div>
  </Container>
</PageLayout>
