---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
---

<PageLayout title="Style Guide" description="The site style guide.">
  <Container>
    <div class="animate">Style guide</div>
  </Container>
</PageLayout>
