---
interface Props {
  href: string;
  external?: boolean;
}

const { href, external, ...rest } = Astro.props;
---

<div class="relative flex flex-col w-fit">
  <div class="m-auto">
    <a
      href={href}
      target={external ? "_blank" : "_self"}
      class="relative leading-none text-current hover:text-indigo-600 hover:dark:text-indigo-400 after:absolute after:bottom-[-2px] after:left-0 after:h-px after:w-full after:origin-bottom-left after:scale-x-100 after:bg-black/15 dark:after:bg-white/30 after:transition-transform after:duration-300 after:ease-in-out hover:after:origin-bottom-right hover:after:scale-x-0 transition-colors duration-300 ease-in-out"
      {...rest}
    >
      <slot />
    </a>
  </div>
</div>
