---
import ProjectCard from "./ProjectCard.astro";

type Props = {
  projects: Array<never>;
  animate: boolean;
};

const { projects, animate } = Astro.props;
---

<ul class=`grid sm:grid-cols-2 gap-6 ${animate ? "animate" : ""}`>
  {
    projects.map((project) => (
      <li>
        <ProjectCard entry={project} />
      </li>
    ))
  }
</ul>
