---
// import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
import ProjectGrid from "@components/ProjectGrid.astro";
import Text from "@components/Text.astro";

// const projects = (await getCollection("projects"))
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <Text
        tag="h1"
        variant="heading"
        class="animate font-semibold text-indigo-600 dark:text-indigo-400"
        >Projects</Text
      >
      <ProjectGrid animate={true} />
    </div>
  </Container>
</PageLayout>
